---
title: Logan Rath
layout: bootstrap
---
<div class="row mt-md-5 mb-5">
  <div class="col-12 col-md-4 col-lg-3 g-0 bg-primary px-0 pt-0 order-md-12 sidebar">
    <div class="profile bg-secondary text-dark pt-3 py-2 py-md-5 text-center">
    <img src="assets/images/profile.png" class="rounded-circle mx-auto pt-2" />
    <h1>Logan Rath</h1>
    <p>Associate Librarian<br/>SUNY Brockport</p>
    </div>
    <div class="contact-info text-white pt-0 px-4">
    {% include contact.html %}
    </div>
    <div class="education-pane text-white pt-0 px-4 d-none d-md-block">
    {% include education.html %}
    </div>
  </div>
  <div class="col-12 col-md-8 col-lg-9 pl-5 pt-3 order-md-1 small-caps pb-5">
    <p>As a librarian, I help you find what you need to complete your assignments. I can help you find more relevant sources so that you spend your time working with the content instead of arguing with the search engine.</p>
  <div class="embed-responsive embed-responsive-16by9 mx-auto mb-5" style="width:85%;">
      <iframe src="https://www.youtube-nocookie.com/embed/PXE1blKayJ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <div class="row text-center">
    <div class="col-4 col-sm-4 col-md-3 mx-auto">
    <a href="https://library.brockport.edu/prf.php?account_id=456">
      <i class="fa fa-4x fa-map d-block text-info"></i>
      <span>Research Guides</span>
    </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 mx-auto">
    <a href="https://library.brockport.edu/zotero">
      <i class="fa fa-4x fa-diamond d-block text-danger"></i>
      <span>Zotero</span>
    </a>
    </div>
    </div>
    <div class="row text-center">
    <div class="col-6 col-sm-4 col-md-3 mx-auto">
    <a href="mailto:LRath@Brockport.edu">
      <i class="fa fa-4x fa-envelope-o d-block"></i>
      <span>lrath@brockport.edu</span>
    </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 mx-auto">
      <a href="https://tiny.cc/meetlogan" target="_blank">
        <i class="fa fa-4x fa-calendar d-block"></i>
        <span>Make an Appointment</span>
      </a>
    </div>
    <div class="col-6 col-sm-4 col-md-3 mx-auto">
    <a href="sms:+17162455599">
      <i class="fa fa-4x fa-mobile d-block"></i>
      <span>716 245 5599</span>
    </a>
    </div>

  </div>


  </div>
</div>
