<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I help you succeed.</h2>
                <hr class="light">
                <p class="text-faded">I can help you find sources to complete your academic assignments. I mostly help students in Education, Modern Languages, &amp; Cultures, Psychology, and Social Work. </p>
                <a href="http://www.loganrath.com" target="_blank" class="btn btn-default btn-xl">Learn More about Logan</a>
            </div>
        </div>
    </div>
</section>
