    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I'm an Associate Librarian at <a href="https://brockport.edu/library">The College at Brockport</a> where I have responsiblities for assessment and instruction. I also adjunct in the Literacy B-12 graduate program.</p>
              </div>
        </div>
    </section>
