<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I help you succeed.</h2>
                <hr class="light">
                <p class="text-faded">I can help find sources to complete your academic assignments. I mostly help students taking classes in Education, Criminal Justice, Modern Languages, a&amp; Cultures, Social Work, and Women &amp; Gender Studies, but as long as you're at Brockport, I can try to help.</p>
                <a href="http://www.loganrath.com" target="_blank" class="btn btn-default btn-xl">Learn More about Logan</a>
            </div>
        </div>
    </div>
</section>
