 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD, Curriculum, Instruction &amp; Science of Learning</h4>
    <h5 class="meta">University at Buffalo</h5>
    <div class="time">anticipated 2022</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MS, Information Design &amp; Technology</h4>
    <h5 class="meta">SUNYIT (now SUNY Polytechnic)</h5>
    <div class="time">2009 - 2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master of Library Science</h4>
    <h5 class="meta">University at Buffalo</h5>
    <div class="time">2005 - 2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BA, Spanish - Adolescent Education</h4>
    <h5 class="meta">SUNY Geneseo</h5>
    <div class="time">2001 - 2005</div>
</div><!--//item-->
</div><!--//education-container-->
