<div class="education-container container-block p-2">
<h2 class="h3 text-center">Education</h2>
<div class="item">
    <h4 class="h5">PhD (in progress)</h4>
    <p class="my-0">Curriculum, Instruction &amp; Science of Learning</p>
    <p class="my-0">University at Buffalo</p>
</div><!--//item-->
<div class="item mt-3">
    <h4 class="h5">MS, Information Design &amp; Technology</h4>
    <p class="my-0 text-light">SUNYIT (now SUNY Polytechnic)</p>
</div><!--//item-->
<div class="item mt-3">
    <h4 class="h5">Master of Library Science</h4>
    <p class="my-0 text-light">University at Buffalo</p>
</div><!--//item-->
<div class="item mt-3">
    <h4 class="h5">BA, Spanish Ed.</h4>
    <p class="my-0 text-light">SUNY Geneseo</p>
</div><!--//item-->
</div><!--//education-container-->
