<div class="education-container container-block p-2">
<h2 class="h3 text-center">Education</h2>
<div class="item">
    <h4>PhD</h4>
    <p class="small">anticipated 2022</p>
    <p class="small">Curriculum, Instruction &amp; Science of Learning</p>
    <p class="small">University at Buffalo</p>
</div><!--//item-->
<div class="item mt-2">
    <h4>MS</h4>
    <p class="my-0">Information Design &amp; Technology</p>
    <p class="my-0">SUNYIT (now SUNY Polytechnic)</p>
</div><!--//item-->
<div class="item mt-2">
    <h4>Master of Library Science</h4>
    <p class="my-0">University at Buffalo</p>
</div><!--//item-->
<div class="item mt-2">
    <h4>BA</h4>
    <p class="my-0">Spanish - Adolescent Education</p>
    <p class="my-0">SUNY Geneseo</p>
</div><!--//item-->
</div><!--//education-container-->
