<div class="education-container container-block">
<h2 class="h3 text-center">Education</h2>
<div class="item">
    <h4 class="h6">PhD</h4>
    <p>Curriculum, Instruction &amp; Science of Learning<br />
    University at Buffalo</p>
</div><!--//item-->
<div class="item">
    <h4 class="h6">MS</h4>
    <p>Information Design &amp; Technology<br />SUNYIT (now SUNY Polytechnic)</p>
</div><!--//item-->
<div class="item">
    <h4 class="h6">Master of Library Science</h4>
    <p>University at Buffalo</p>
</div><!--//item-->
<div class="item">
    <h4 class="h6">BA</h4>
    <p>Spanish - Adolescent Education<br />SUNY Geneseo</p>
</div><!--//item-->
</div><!--//education-container-->
