<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Meet Logan</h1>
            <h3>Research &amp; Librarian, The College at Brockport, SUNY</h3>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
            <a href="#get_help" class="btn btn-primary btn-xl page-scroll">Get Help</a>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Me</a>
        </div>
    </div>
</header>
