<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Meet Logan</h1>
            <h3>Instruction &amp; Assessment Librarian, The College at Brockport, SUNY</h3>
            <p>I mostly students taking classes in Education, Criminal Justice, Social Work, and Women &amp; Gender Studies, but as long as you're at Brockport, I can try to help.</p>
            <hr>
            <a href="#get_help" class="btn btn-primary btn-xl page-scroll">Get Help</a>
        </div>
    </div>
</header>
