body {background-color: #f5f5f5}
.container {background-color: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {/*margin: -0.9em; padding: 0.9em 0.9em 2em 0.9em; */}

.contact-info {
  margin-top: 2em;
  line-height: 2em;
}

.contact-info a:link, .contact-info a:visited {color: white;}

.contact-info .fa {margin-right: 0.5em;}

.fa-75x {
  font-size: .75em;
}
